<div id="<%= dom_id entry %>">
  <p>
    <strong>Vehicle name:</strong>
    <%= entry.vehicle_name %>
  </p>

  <p>
    <strong>Vehicle number:</strong>
    <%= entry.vehicle_number %>
  </p>

  <p>
    <strong>Number plate:</strong>
    <%= entry.number_plate %>
  </p>

  <p>
    <strong>Checkout mileage:</strong>
    <%= entry.checkout_mileage %>
  </p>

  <p>
    <strong>Checkin mileage:</strong>
    <%= entry.checkin_mileage %>
  </p>

</div>
