<%= form_with(model: entry) do |form| %>
  <% if entry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :vehicle_name, class: "label", style: "display: block" %>
    <%= form.text_field :vehicle_name, class: "input" %>
  </div>

  <div>
    <%= form.label :vehicle_number, class: "label", style: "display: block" %>
    <%= form.number_field :vehicle_number, class: "input" %>
  </div>

  <div>
    <%= form.label :number_plate, class: "label", style: "display: block" %>
    <%= form.text_field :number_plate, class: "input" %>
  </div>

  <div>
    <%= form.label :checkout_mileage, class: "label", style: "display: block" %>
    <%= form.number_field :checkout_mileage, class: "input" %>
  </div>

  <div>
    <%= form.label :checkin_mileage, class: "label", style: "display: block" %>
    <%= form.number_field :checkin_mileage, class: "input" %>
  </div>

  <div>
    <%= form.submit class: "button is-success" %>
  </div>
<% end %>
